* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CD5C5C ;
    font-family: cursive;
    margin: 0;
}

.contenedor {
    width: 1200px;
    background-color: white;
    margin: 10px auto;
}
.cabecera {
    padding: 10px 0;
    height: 150px;
    overflow: hidden;
    justify-content: space-around;
    display: flex;
}

.logo img {
    width: 150px;
    height: 150px;
    padding: 10px 10px;
}

.logotit img {
    width: 600px;
    height: 130px;
    padding: 20px 20px;
}
 
.botones {
   overflow: hidden;
   background-color: #E9967A;
   margin-top: 5px;
}

.botones li {
   float: left;
   list-style: none;

} 

.botones li a {
    padding: 10px 15px ;
    color: white;
    font-size: 25px;
    text-decoration: none;
    display: block;
    border: 1px solid white;
}

.botones li a:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-8%);
}

.medio {
    padding: 15px 0;
}

.titulo {
    text-align: center;
    color: indianred;
}

.frase {
    text-align: center;
    font-style: italic;
}

.cajas {
    overflow: hidden;
    margin-top: 10px;
}

.servicio {
    width: 380px;
    height: 400px;
}

.tarjeta {
    float: left;
    margin: 10px;
    width: 380px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    text-align: center;
}

.tarjeta a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: #E9967A;
    font-size: 25px;
    border: 1px solid white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.tarjeta a:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-8%);
}