* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CD5C5C ;
    font-family: cursive;
    margin: 0;
}

.contenedor {
    width: 1200px;
    background-color: white;
    margin: 10px auto;
}
.cabecera {
    padding: 10px 0;
    height: 150px;
}

.logo {
    float: left;
    width: 50px;
    height: 80px;
}

.cabecera img {
    width: 500px;
    height: 150px;
}
 
.botones {
   overflow: hidden;
   background-color: #E9967A;
}

.botones li {
   float: left;
   list-style: none;

} 

.botones li a {
    padding: 10px 15px ;
    color: white;
    font-size: 25px;
    text-decoration: none;
    display: block;
    border: 1px solid white;
}

.botones li a:hover {
    background-color: #ddbdba ;
    color: #424949;
}

.medio {
    padding: 15px 0;
}
.titulo {
    text-align: center;
    color: indianred;
}

.frase {
    text-align: center;
    font-style: italic;
}

.cajas {
    overflow: hidden;
}

.servicio {
    width: 380px;
    height: 350px;
}

.izquierda, .centro, .derecha {
    float: left;
    margin: 10px;
    width: 380px;
}

.subtitulo {
    background-color: #FADBD8;
    border-radius: 28px;
    width: 200px;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    padding: 12px 0;
    text-decoration: none;
}

.subtitulo :hover {
    background-color: #F1948A;
    color: white;
}